@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    src: url('RobotoFlex-Regular.ttf') format('truetype');
}

body,
html,
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Flex', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    background-color: #ddd;
    padding: 10px;
}


/* ----------------------------------------------- */
/* --------------- TOP HEADER */


h1 {
    flex-grow: 1;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.settings_errors_wrapper {
    justify-content: center;
    align-items: center;
}


/* ----------------------------------------------- */
/* --------------- TABLE */


.table {
    width: 100%;
    margin: 15px 0 10px 0;
    border-width: 0;
    border-spacing: 0px;
    border-collapse: collapse;
}


/* ----------------------------------------------- */
/* --------------- HEAD */


.table>thead .titles {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    min-width: 100px;
}

.table>thead .last {
    text-align: right;
}


/* ----------------------------------------------- */
/* -------------- BODY */


/* VALUE, STATUS, ACTION */

.table>tbody .value,
.table>tbody .status,
.table>tbody .action {
    padding: 5px 10px;
    min-width: 250px;
    min-height: 50px;
}

.table tbody #settings_server_url td {
    padding-top: 10px;
}

/* LABEL */

.table tbody .label {
    min-width: 100px;
}

/* VALUE */

.table tbody .value {
    padding-left: 0;
    min-width: 300px;
}

/* STATUS */

.table tbody .status {
    min-width: 140px;
    font-weight: bold;
}

/* ACTION */

.table tbody .action {
    padding-right: 0;
    min-width: 160px;
}


/* ----------------------------------------------- */
/* -------------- GENERAL */


.table tbody input {
    width: 100%;
    padding: 5px 10px;
    min-height: 30px;
    height: 30px;
    border: 1px solid #666;
    outline: unset;

}

.table tbody button {
    width: 100%;
    padding: 4px 0;
    text-transform: uppercase;
}


/* ----------------------------------------------- */
/* -------------- FORM */


/*  SERVER  */

#server_url_input.error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.15);
    color: black;
    font-weight: bold;
}

#server_url_input.ok {
    border: 1px solid green;
    background-color:  rgb(0, 249, 0);
    font-weight: bold;
    color: black;
}

/*  ACCESS CODE  */

#access_code_input {
    border: 1px solid #333;
    background-color: #ccc;
    color: black;
    display: inline-block;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    min-width: 70px;
    text-align: center;
}

#access_code_input.error {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.15);
    color: black;
}

#access_code_input.ok {
    border: 1px solid green;
    background-color:  rgb(0, 249, 0);
    color: black;
}

#access_code_hint {
    display: inline-block;
    margin-left: 5px;
    color: #777;
}
